@{
    ViewData["Title"] = "Gửi Tin Nhắn Thành Công";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.ContactSuccessMessage</h1>
    <p>Chúc bạn một ngày tốt lành!</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay về Trang Chủ</a>
</div>