<div class="text-center">
    <h1>@ViewBag.CheckoutCompleteMessage</h1>
    <p>Cảm ơn bạn đã tin tưởng và mua sắm tại cửa hàng của chúng tôi.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Quay về Trang Chủ</a>
</div>
