@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-danger" asp-controller="Admin" asp-action="Index">Quản Trị</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Xin chào @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Order" asp-action="MyOrders">Đơn hàng của tôi</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn đăng xuất?');">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    }
</ul>